/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS VARIABLES */
:root {
    --darkest-blue: #020659;
    --dark-blue: #020873;
    --reg-blue: #030A8C;
    --royal-blue: #2104D9;
    --sky-blue: #0D8DFB;
    --light-blue: #2699FB;
    --maroon: #590242;
    --white: #ffffff;
    --light-grey: #FFFFFFBF;
    --opacity-grey: #FFFFFF80;
    --black: #000000;
}

/* BASIC STYLING */

html {
    background-color: var(--darkest-blue);
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.25;
}

/* HEADER */

#header {
    display: flex;
    flex-direction: column-reverse;
}

header {
    background: linear-gradient(to right, var(--royal-blue), var(--dark-blue), var(--black));
    color: var(--white);
    padding: 5px 25px 20px;
}

header h1 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 10px 10px;
    text-transform: uppercase;
}

header p {
    font-size: 1em;
    margin: 0 20px 0 10px;
}

/* NAV */

nav {
    background-color: var(--dark-blue);
    color: var(--white);
    position: relative;
}

nav h2 {
    display: none;
}

nav ul {
    background-color: var(--royal-blue);
    text-align: center;
}

nav li {
    margin: 10px 0;
}

nav li:hover {
    background-color: var(--maroon);
}

nav a {
    color: var(--white);
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li:first-of-type {
    position: absolute;
    top: 7px; 
    left: 120px;
}

#navheader {
    color: var(--white);
    font-size: 1.25em;
    font-variant: small-caps;
    font-weight: bold;
    text-transform: none;
}

/* Hamburger Menu Code */

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: var(--white);
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/***** Main Content *****/

/* Trending Songs */

#trending h2 {
    color: var(--maroon);
    font-size: 1em;
    font-weight: bold;
    margin: 30px 0 10px 20px;
    text-transform: uppercase;
}

#trending h3 {
    color: var(--maroon);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.grid-layout section {
    margin: 10px;
    position: relative;
}

.grid-layout div {
    position: absolute;
    top: 251px;
    background-color: var(--light-grey);
    padding: 5px;
    width: 350px;
}

dl {
    color: var(--maroon); 
    display: flex;
    font-size: 1em;
    margin: 10px auto 0;
}

dt {
    font-style: italic;
    margin-right: 5px;
}

dd {
    margin-left: 5px;
}

audio {
    position: absolute;
    width: 300px;
    height: 54px;
    top: 110px;
    left: 5px;
}

button {
    font-size: 1em;
    background-color: var(--maroon);
    color: var(--white);
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px 5px 0 20px;
}

button:hover {
    background-color: var(--dark-blue);
}

/* Trending Webkit Scrollbar */

#trending ::-webkit-scrollbar {
    width: 10px;
}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--maroon);
}

#trending ::-webkit-scrollbar-thumb {
    background: var(--maroon);
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkest-blue);
}

/* Webkit Audio */

audio::-webkit-media-controls-mute-button {
    background-color: var(--white);
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: var(--white);
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: var(--opacity-grey);
}

/* Your Playlists - Curated Playlists */

#playlists h2, #curated h2 {
    color: var(--maroon);
    font-size: 1em;
    font-weight: bold;
    margin: 30px 0 10px 20px;
    text-transform: uppercase;
}

#playlists a h3, #curated a h3 {
    font-weight: bold;
    font-size: 1em;
    margin: 0 20px 0;
    text-transform: uppercase;
}

#playlists a p, #curated a p {
    font-size: 1em;
    margin: 10px 5px 0;
}

#playlists a:hover, #curated a:hover {
    background-color: var(--maroon);
}

#playlists div {
    background-color: var(--light-blue);
}

#playlists a {
    background-color: var(--sky-blue);
    color: var(--white);
    margin: 10px 15px 10px 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#curated div {
    background-color: var(--reg-blue);
}

#curated a {
    background-color: var(--dark-blue);
    color: var(--white);
    margin: 10px 15px 10px 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

/* Playlists Webkit Scrollbar */

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px var(--darkest-blue);
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background-color: var(--darkest-blue);
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background-color: var(--white);
}

/* Footer */

footer p{
    color: var(--maroon);
    margin: 50px;
    padding-bottom: 20px;
    text-align: center;
}

/***** Media Queries *****/

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }

    body {
        width: 834px;
    }

    nav li {
        height: 100%;
        margin: 0;
        padding: 10px 40px 0;
        width: 50%;
    }

    nav ul li:first-of-type {
        height: 90%;
        position: static;
        padding: 15px 15px 0;
        width: 80%;
    }

    nav a img {
        margin-left: 4px;
    }

    #curated, #playlists {
        margin-bottom: 50px;
        width: 50%;
    }

    #playlists {
        float: left;
        margin-top: 62px;
    }

    #curated {
        float: right;
    }

    #playlists .grid-layout, #curated .grid-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow-x: hidden;
        overflow-y: auto;
        height: 500px;
    }

    #playlists h3, #curated h3 {
        color: var(--white);
        float: right;
    }

    #playlists p, #curated p{
        float: right;
        width: 50%;
        }
    
    #playlists img, #curated img {
        float: left;
    }

    button {
        float: right;
        margin: 10px 15px;
    }
} 